 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";


// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600,300);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,900,700,600,500,300,200,100,800);
@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700,300);
/*@import url(https://fonts.googleapis.com/css?family=Playball);*/

body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

p{
    font-size: 14px;
    line-height: 20px;
}

/*===== common ====*/
.bg-color{
    background-color: #4A6BB5 !important;
}

section{
    padding-top: 50px;
    padding-bottom: 50px;
}


/*===== Job ====*/
.job-content{
  min-height: 425px;
  margin-top: 100px;

  a{
    text-decoration: none;
  }
}

.job-bottom{
  margin-top: 50px;
  margin-bottom: 30px;
}

.main-box{
}

.side-box{
  display: inline;
  position: absolute;
  margin-top: 15px;
  padding-bottom: 10px;
  margin-left: 35px;

  background-color: #1A6561;
  color: #fff;
  box-shadow: 2px 2px 3px #aaa;
}

.job-box{
  border: 1.5px solid #ddd;
  background-color: #fff;
  margin-top: 12.5px;
  padding: 20px 15px 7.5px 15px;
  color: #555;
  font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
  font-size: 16px;
  box-shadow: 1px 1px 5px #ccc;

  div{
    margin-bottom: 5px;
  }

  .info{
      display: inline;
      float: left;
  }

  .info-top{
    h3{
      display: inline;
      font-size: 20px;
    }
    span{
      margin-left: 10px;
      display: inline;
      color: #888;
    }
  }

  .info-mid{
    color: #FF7D0A;
    letter-spacing: -1px;
  }

  .info-bot{
    span{
      border: 1px solid #ccc;
      border-radius: 2.5px;
      padding: 3.5px 6.5px 3.5px 6.5px;
      font-size: 12px;
    }
  }

  .company{
    float: right;
    display: inline;
    width: 35%;

    span{
      width: 20px;
      margin-left: 5px;
    }
  }

  .company-top{
    color: #4A6BB5;
    font-size: 18px;
    letter-spacing: 0.5px;
    margin-left: -5px;
  }

  .company-bot{
    margin-left: 3.5px;
    letter-spacing: 1px;
  }
}

.suggest-title{
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  text-align: center;
  font-size: 20px;
}

.suggest-content{
  width: 240px;
  background-color: #fff;
  margin-left: -40px;
  padding: 2px 2px 12px 12px;
  border: 0.5px solid #eee;

  div{
    margin-top: -5px;
    margin-bottom: -5px;
  }
  h3{
    font-size: 16px;
  }
  p{
    font-size: 16px;
    color: #FF7D0A;
    letter-spacing: -1px;
  }
  span{
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.5px;
  }
}

/*===== end Job ====*/

.admin-content{
  min-height: 425px;
  margin-top: 85px;
  margin-bottom: 100px;
}

.p-l-0{
    padding-left: 0;
}

.p-l-r-0{
    padding-left: 0;
    padding-right: 0;
}

.small-tag {
    color: #777;
    font-family: "Raleway",sans-serif;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

h2.section-title{
    color: #4C4C4C;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
}

p.index-contect{
    color: #666;
    line-height: 34px;
    padding: 0 7px;
}

.short-line {
    display: block;
    background: #35CCC6;
    border-style: none;
    border-radius: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    margin-bottom: 30px;
    z-index: 53;
    width: 100px;
    height: 1.5px;
    position: relative;
}

.section-para{
    color: #999;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.btn.btn-default-welcome{
  background-color: transparent;
  color: #fff;
  border-color: #fff;
  padding: 10px 20px;
  font-size: 20px;
  letter-spacing: 1px;
}

.btn.btn-primary-welcome{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    letter-spacing: 1px;
}

.btn.btn-default-welcome:hover,
.btn.btn-primary-welcome:hover{
    background-color: #217F7B;
    border-color: #217F7B;
    color: #fff;
}

.btn.btn-primary-welcome,
.btn.btn-default-welcome,
.what-we-do .do-box,
.service-overflow {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.service-overflow,
single-work span i.fa,
.intro{
    display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
}

/*===== header ====*/
/* menu */
.navbar.default-menu{
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    min-height: 70px;
    background-color: #002E2E;
    border-bottom: 2px solid #0CB88E;
    box-shadow: 1px 1px 2px #333;
    -moz-box-shadow: 1px 1px 2px #333;
    -webkit-box-shadow: 1px 1px 2px #333;

    .logo_img {
        display: inline-block;
        margin-right: 10px;
        margin-left: 30px;
        width: 35px;
        height: 35px;
        margin-top: -6px
    }

    .default-logo {
        letter-spacing: 1px;
        line-height: 40px;
        margin-right: 15px;
    }
}



.default-menu.navbar-default .navbar-toggle {
    border-radius: 0;
    border-width: 2px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.default-menu.navbar-default .navbar-nav > li > a{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 40px !important;
    font-family: "Raleway",sans-serif;
    letter-spacing: 0.3px;
    padding: 15px 20px;
}

.default-menu.navbar-default .navbar-nav > li:last-child > a{
    padding-right: 0;
}

.default-menu.navbar-default .navbar-nav > li > a i{
    position: relative;
    line-height: 40px;
}

.default-menu.navbar-default .navbar-nav > li > a:active,
.default-menu.navbar-default .navbar-nav > li > a:focus,
.default-menu.navbar-default .navbar-nav > li > a:hover{
    color: #4A6BB5;
}

.default-menu.navbar-default .navbar-nav > .active > a,
.default-menu.navbar-default .navbar-nav > .active > a:focus,
.default-menu.navbar-default .navbar-nav > .active > a:hover{
    background-color: transparent;
    color: #4A6BB5;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: #4A6BB5;
}

.default-menu .dropdown-menu{
    background-color: #fff;
    min-width: 150px;
    box-shadow: 0 5px 10px #aaa;
}

/* 下拉选单三角箭头 */
.default-menu .dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}

.default-menu .dropdown-menu > li > a {
    color: #000;
    padding: 8px 17px;
    font-size: 14px;
    letter-spacing: 1px;
}

.dropdown-menu > li > a:hover {
    background-color: #B6C9F2;
    color: #000;
}

.btn.btn-default.navbar-btn{
    color: #000;
    margin-top: 16px;
    border-radius: 4px;
    padding: 8px 25px;
    border: 1px solid #eee;
    margin-left: 10px;
}

.btn.btn-default.navbar-btn:hover{
    color: #fff;
    background-color: #4A6BB5;
    border-color: #4A6BB5;
}



/* media quaries */
@media screen and (max-width: 768px){
    .default-menu.navbar-default .navbar-nav > li > a{
        line-height: 12px;
    }

    .default-menu .navbar-nav > li .nav-search{
        border-color: rgba(153, 153, 153, 0.1);
    }

    .nav-search .form-control{
        text-align: center;
        width: 100%;
        padding-left: 40px;
        padding-right: 20px;
    }

    .nav-search .form-group i {
        color: #999;
        font-size: 12px;
        left: 20px;
    }

    .default-menu.navbar-default .navbar-nav > li:last-child > a{
        padding-left: 20px !important;
    }

    .default-menu.navbar-default .navbar-nav > li:first-child > a{
        padding-left: 20px !important;
    }
}

.default-menu.menu-4{
    border-bottom: 0;
}

.default-menu.menu-4 .default-logo{
    color: #fff;
}

.default-menu.menu-4 .navbar-nav > li > a{
    color: #fff;
}

.default-menu.menu-4 .navbar-nav > li > a:before,
.default-menu.menu-4 .navbar-nav > li > a:after{
    color: transparent;
    font-size: 13px;
    position: absolute;
    transition: all 0.5s ease-in-out;
    margin-top: -1px;
}



.default-menu.menu-4 .dropdown-menu{
    margin-top: 0 !important;
}

@media screen and (max-width: 768px){
    .default-menu.menu-4 .navbar-nav > li > a:hover:after,
    .default-menu.menu-4 .navbar-nav > li > a:hover:before{
        color: transparent;
    }
}


/*===== user ====*/
.user_setup{
    height: 750px;
    background: image_url("user_background.jpg") no-repeat scroll top center/ cover;
}

.user_setup_content{
    background: #fff;
    margin-top: 135px;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 1px 3px 5px #333;
    border: 5px solid #666;
    border-radius: 25px;

    opacity:0.95;
    filter:alpha(opacity=95);

    h2{
      text-align: center;
    }

    .psw{
      float: right;
      margin-top: -33px;
      position: relative;
    }

    .account{
      text-align: center;
    }

    .form-inputs{
      margin-top: 25px;
    }

    .form-actions{
      text-align: center;
      margin-top: 35px;
      margin-bottom: 25px;

      .button{
        color: #fff;
        background-color: #4A6BB5;
        border-color: #4A6BB5;
        font-size: 16px;
        letter-spacing: 1px;
        width: 100%;
      }
      .button:hover{
          background-color: #4A99B5;
          border-color: #4A99B5;
          color: #fff;
      }
    }
}


/*===== intro ====*/
.intro{
    height: 650px;
    background: image_url("intro.jpg") no-repeat scroll top center/ cover;
}

.intro-content > h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 55px;
    margin-bottom: 25px;
    text-transform: capitalize;
    word-spacing: 6px;
}

.intro-content > p {
    color: #f8f8f8;
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    margin-bottom: 75px;
}


/*===== our-sponsors ====*/
.sponsors img{
    border: 1px solid #eee;
    border: 1px solid #eee;
    height: 55px;
    padding: 5px 0
}

/*===== what we do ====*/
.what-we-do{
    text-align: center;

    img{
      margin-top: 35px;
      margin-bottom: -35px;
      width: 100px;
    }
}

.what-we-do .do-box{
    border: 1px solid transparent;
}

.do-box h3{
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 18px;
    letter-spacing: 1px;
}

.do-box p {
    color: #666;
    letter-spacing: 1px;
    line-height: 22px;
    margin: 40px 25px 40px 25px;
}


/*===== about us ====*/


/*===== about us ====*/
.about-us{
    background-color: #121212;
    padding-bottom: 0;
    padding-top: 0;
}

.about-content{
    margin: 60px 0 30px 20px;
}

.about-content h2.section-title {
    color: #4A6BB5;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 0;
    text-transform: uppercase;
    word-spacing: 5px;
    max-width: 535px;
    line-height: 1.5;

}

.about-content > p{
    color: #707070;
    font-weight: 100;
    line-height: 20px;
    max-width: 535px;
}

.about-us img, .carousel-inner > .item > img{
    height: 400px;
}

.about-us .ytp-title-link, .ytp-title-channel-name {
    opacity: 0;
}

/*===== our service ====*/

.work{
    padding-bottom: 0;
}

.work .single-work img{
    width: 100%;
}

.single-work{
    position: relative;
}

.single-work img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.owl-theme .owl-controls .owl-page span {
    background: #4A6BB5;
    opacity: 0.3;
    border-radius: 0;
    height: 4px;
    width: 25px;
    -moz-transform: skewX(-45deg) skewY(0deg);
    -webkit-transform: skewX(-45deg) skewY(0deg);
    -o-transform: skewX(-45deg) skewY(0deg);
    -ms-transform: skewX(-45deg) skewY(0deg);
    transform: skewX(-45deg) skewY(0deg);
}

.owl-theme .owl-controls {
    margin-top: 35px;
}

.service-overflow{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    opacity: 0;
}

.single-work:hover .service-overflow{
    opacity: 1;
}

.service-overflow h3{
    color: #4A6BB5;
    margin-top: 0;
}

.service-overflow p{
    color: #888;
    margin: 0 auto;
    max-width: 260px;
}

.work-links .fa {
    background: #4A6BB5 none repeat scroll 0 0;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-size: 20px;
    padding-top: 16px;
    text-align: center;
    width: 50px;
}

.work-links .fa:hover {
    background-color: #f0f0f0;
    color: #121212;
}

.work-links.list-inline > li {
    display: block;
}

/*
.single-work span i.fa{
    color: #fff;
    font-size: 15px;
    position: absolute;
    text-align: center;
}

/*===== extra feature ====*/
.extra-feature{
    padding-top: 100px;
    overflow: hidden;
}

.extra-feature .section-title{
    line-height: 1.3;
}

.extra-feature .section-title > span{
    color: #4A6BB5;
}

.extra-feature p{;
    margin-bottom: 30px;
}

.extra-feature .btn.btn-default{
    margin-bottom: 30px;
}

.e-feature{
    position: relative;
    height: 280px;
}

.feature-img {
    bottom: 0;
    top: 30px;
    width: 100%;
}

.platform{
    margin-bottom: 60px;
}

.platform.list-inline > li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.platform .fa {
    background: transparent;
    border: 2px solid #4A6BB5;
    border-radius: 4px;
    color: #4A6BB5;
    cursor: pointer;
    font-size: 16px;
    height: 50px;
    padding-top: 15px;
    text-align: center;
    width: 53px;
}

/*===== our experts ====*/

/* Feature与Category共用 */
.our-experts{
    background-color: #F2F2F2;

    p{
      letter-spacing: 1px;
    }
    a{
      text-decoration:none;
      color: #002E2E;
    }

    img{
      width: 550px;
    }
}




.our-experts .expert-box{
    text-align: center;
    border: 2px solid #ccc;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;

    img {
        width: 50px;
        margin-top: 25px;
    }
}

.our-experts .category-list{
  text-align: center;

  h3{
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 18px;
  }
  p{
    letter-spacing: 1px;
    color: #666;
  }
}

.our-experts .category-list:hover{
  .expert-box{
    border: 2px solid #4A6BB5;
  }
  h3{
    color: #4A6BB5;
  }
}


.our-brand{
    background-color: #F2F2F2;

    img{
      margin: 25px 15px 35px 15px;
      width: 150px;
    }

}


/*===== talk about us ====*/
.talk-about-us{
    padding-bottom: 160px;
    padding-top: 60px;
    color: #666;
}

.talk-about-us strong{
    margin-top: 25px;
    color: #4A6BB5;
    font-weight: 600;
    font-style: italic;
}

.talk-about-us .item > img{
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #ccc;
    margin-bottom: 10px;
}

.talk-about-us .item > p{
    max-width: 600px;
    letter-spacing: 1px;
    margin: 0 auto;
    line-height: 2;
    margin-bottom: 20px;
}

.talk-about-us .carousel-indicators > li {
    background-color: #dcdcdc;
    border: 0 none;
    height: 10px;
    margin: 1px;
    width: 10px;
    border-radius: 0;
    margin: 0 5px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.talk-about-us .carousel-indicators li.active {
    background-color: #4A6BB5;
}

.talk-about-us .carousel-indicators {
    bottom: -70px;
}

/*===== our client ====*/
.support{
    text-align: center;
    height: 200px;
    background: image_url("start.jpg") no-repeat scroll top center/ cover;

    div{
      margin-top: 15px;
    }
}

/*===== contact ====*/
.contact{
    padding-top: 90px;
}

.contact .section-title{
    margin-bottom: 30px;
}

.contact .border{
    margin-bottom: 45px;

}

/* border */
.border{
    position: relative;
    margin-bottom: 60px;
    display: inline-block;
}

.border-l-r{
    font-size: 24px;
    color: #4A6BB5;
    position: absolute;
}

.border-l-r .lnr,
.border-l-r .fa {
    position: relative;
    top: -8px;
    left: -10px;
}

.border-l-r::after {
    background-color: #e6e6e6;
    content: "";
    height: 2px;
    left: 30px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 40px;
}

.border-l-r::before {
    background-color: #e6e6e6;
    content: "";
    height: 2px;
    right: 50px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 40px;
}


.contact .form-group .btn.btn-default {
    background-color: transparent;
    border-color: #ccc;
    color: #121212;
    font-weight: 600;
    margin: 0;
}

.contact .form-group{
    margin-bottom: 22px;
}

.contact .form-control {
    background-color: transparent;
    background-image: none;
    border-radius: 0;
    box-shadow: none;
    color: #555;
    font-size: 13px;
    height: 45px;
    padding: 10px 15px;
    width: 100%;
}

.contact .textarea{
    min-height: 130px !important;
    width: 100% !important;
}

.social-links{
    margin-bottom: 45px;
}
.social-links .fa{
    background: #4A6BB5;
    color: #fff;
    width: 35px;
    height: 35px;
    padding-top: 11px;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
}

/*===== footer ====*/
.footer{
    text-align: center;
    height: 250px;
    background-color: #002E2E;
    padding: 15px 0;
    color: #fff;

    h4{
        font-size: 16px;
        margin-top: 25px;
        margin-bottom: 15px;
    }

    p{
        font-size: 14px;
    }

    ul{

    }

    li{
      margin-top: 5px;
    }

    a{
      text-decoration:none;
      color: #ccc;
    }
    a:hover,
    a:active,
    a:focus{
      color: #4A6BB5;
    }

    img{
      width: 35px;
      margin: 5px;
    }

    img:hover{
      opacity: 0.75;
    }

    p{
      a{
        color: #4A6BB5;
      }
      a:hover{
        color: #35CCC6;
      }
    }

    .footer-box{
      text-align: left !important;
      margin-top: 15px;
    }
}

.footer-content{
  font-size: 16px;
  font-family: Raleway;
  color: #ddd;
  letter-spacing: 1px;
  margin-top: 10px;
  font-weight: 200;

  img{
    width: 25px;
    margin-left: 7.5px;
    margin-right: -0.1px;
  }
  img:hover{
    opacity: 1;
  }

}

.goodjob{
  float: right;
  margin-top: -20px;
  img{
    width: 50px;
  }
  a:hover{
    opacity: 0.45;
  }

}

.goTop {
    height: 35px;
    width: 35px;
    background-color: #fff;
    border-radius: 5px;
    position: fixed;
    top: 90%;
    right: 3%;
    display: none;

    box-shadow: 1px 1px 3px #666;
}
.goTop span {
    color: #000;
    position: absolute;
    top: 8px;
    left: 8px;

    font-size: 20px;
}

.goTop:hover {
    background-color: #4A6BB5;

    span{
      color: #fff;
    }
}
