<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-md-12 text-center">
                <p>Designed By <a href="http://xbearx1987-blog.logdown.com/" target=_new>Jimmy Wang</a> | Copyright ©2017 职赢网
                <span class="pull-right"><a href="#home" class="scroll">回到顶端 <span class="glyphicon glyphicon-menu-up"></span></a></span></p>
            </div>
        </div>
    </div>
</footer>
